@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    .margin-top-bottom {
        margin-top: 40px;
        margin-bottom: 20px;
    }
</style>
<h1 class="text-center margin-top-bottom">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
