@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    .margin-top-bottom {
        margin-top: 40px;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <partial name="_StatusMessage" model="Model.StatusMessage" />

            <!-- Thêm nút Login -->
            <div class="text-center mt-4">
                <a href="https://localhost:5000/Identity/Account/Login" class="btn btn-primary">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </div>
        </div>
    </div>
</div>

