@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
    .custom-container {
        margin-top: 60px;
        margin-bottom: 60px;
    }
</style>
<div class="custom-container">
<h1 class="text-center">@ViewData["Title"]</h1>
<h4 class="text-center">
    Please check your email to reset your password.
</h4>

</div>
