@page
@using Microsoft.CodeAnalysis.Differencing;
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .custom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

<<<<<<< HEAD

<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        }
    </style>

    <div class="breadcrumb_content">
        <h3>My Account</h3>
        <ul>
            <li><a href="index.html">home</a></li>
            <li>My account</li>
        </ul>
=======
    button[type="submit"].btn {
        cursor: pointer; /* Set cursor to pointer */
    }

    .btn-custom {
        border-radius: 8px;
    }
</style>

<div class="container">
    <div class="row justify-content-center custom-padding">
        <div class="col-md-6">
            <h1 style="text-align: center;">@ViewData["Title"]</h1>
            <h2 style="text-align: center;">You have requested to reset your password</h2>
            <p style="text-align: center;">A mail will send to your email. To reset your password, click the following link to progress</p>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="margin-bottom: 12px" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-success btn-custom">Reset Password</button>
            </form>
        </div>
        <div class="col-md-6">
            <!-- Replace 'image-url.jpg' with the actual URL of your image -->
            <img src="/images/test.jpg" alt="Image" class="img-fluid">
        </div>
>>>>>>> master
    </div>
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">@ViewData["Title"]</h2>

                        <form>
                            <h2>Enter your email.</h2>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>


                            <!-- Submit button -->
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">
                                Reset Password
                            </button>




                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/images/logo/la.jpg" class="w-100 h-auto rounded-4 shadow-4 mx-lg-auto mb-lg-auto"
                     alt="" />
            </div>


        </div>
    </div>
    <!-- Jumbotron -->
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
