@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .custom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    button[type="submit"].btn {
        cursor: pointer; /* Set cursor to pointer */
    }

    .btn-custom {
        border-radius: 8px;
    }
</style>

<div class="container">
    <div class="row justify-content-center custom-padding">
        <div class="col-md-6">
            <h1 style="text-align: center;">@ViewData["Title"]</h1>
            <h2 style="text-align: center;">You have requested to reset your password</h2>
            <p style="text-align: center;">A mail will send to your email. To reset your password, click the following link to progress</p>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="margin-bottom: 12px" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-success btn-custom">Reset Password</button>
            </form>
        </div>
        <div class="col-md-6">
            <!-- Replace 'image-url.jpg' with the actual URL of your image -->
            <img src="/images/test.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
