@page
@using Microsoft.CodeAnalysis.Differencing;
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .custom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }


<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        }
    </style>

    <div class="breadcrumb_content">
        <h3>My Account</h3>
        <ul>
            <li><a href="index.html">home</a></li>
            <li>My account</li>
        </ul>

    </div>
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">@ViewData["Title"]</h2>

                        <form method="post" >
                            <h2>Enter your email.</h2>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>


                            <!-- Submit button -->
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">
                                Reset Password
                            </button>




                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/images/logo/la.jpg" class="w-100 h-auto rounded-4 shadow-4 mx-lg-auto mb-lg-auto"
                     alt="" />
            </div>


        </div>
    </div>
    <!-- Jumbotron -->
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
