@page
@model LockoutModel
@{
    ViewData["Title"] = "LOCKED OUT";
}
<style>
    .margintop{

        margin-top: 40px;
        margin-bottom : 20px;
    }
</style>

<header class="margintop">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger text-center">
                    <i class="fas fa-exclamation-triangle fa-3x mb-3"></i>
                    <p>This account has been locked due to entering the wrong password more than 4 times, please try again later.</p>
                    <a href="/Identity/Account/ForgotPassword" class="btn btn-primary">
                        <i class="fas fa-key"></i> Forgot Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

    