@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
       
    </style>


    <div class="breadcrumb_content">
        <h3>My Account</h3>
        <ul>
            <li><a href="index.html">home</a></li>
            <li>My account</li>
        </ul>
    </div>
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">


            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign up now</h2>



                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onclick="return validateInput()">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.FullName" class="form-control" aria-required="true" />
                                        <label asp-for="Input.FullName"></label>
                                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.UserName" class="form-control" aria-required="true" id="userName" />
                                        <label asp-for="Input.UserName"></label>
                                        <span asp-validation-for="Input.UserName" class="text-danger" id="userErr"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" id="phone" onblur="return validatePhone()" />
                                <label asp-for="Input.PhoneNumber"></label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger" id="phoneErr"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" id="DoB" />
                                <label asp-for="Input.DateOfBirth"></label>
                                <span asp-validation-for="Input.DateOfBirth" class="text-danger" id="DoBErr"></span>
                            </div>


                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>


                            <!-- Submit button -->
                            <button id ="registerSubmit" type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>

                        </form>

                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>or sign up with:</p>
                                        <p>
                                            <button type="submit" class="btn btn-link btn-floating mx-1" name="provider" value="Google" title="Log in using your Google account">
                                                <i class="fab fa-google"></i>
                                            </button>
                                        </p>
                                    </div>
                                </form>

                            }
                        }
                    </div>



                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/images/logo/bg-01.jpg" class="w-100 rounded-4 shadow-4"
                     alt="" />
            </div>


        </div>
    </div>

    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        function validateInput() {
            const userNameval = document.getElementById("userName").value;
            var dobInput = document.getElementById("DoB").value.trim();
            var dob = new Date(dobInput);

            //calculate month difference from current date in time
            var month_diff = Date.now() - dob.getTime();

            //convert the calculated difference in date format
            var age_dt = new Date(month_diff);

            //extract year from date
            var year = age_dt.getUTCFullYear();

            //now calculate the age of the user
            var age = Math.abs(year - 1970);
            valid = true;

            if (!validateUsername(userNameval)) {
                document.getElementById("userErr").innerHTML = "User name cannot contain white space";
                valid = false;
            }

            if (age <= 18) {
                document.getElementById("DoBErr").innerHTML = "Age must not be below 18 years old";
                valid = false;
            } else if (age >= 80) {
                document.getElementById("DoBErr").innerHTML = "Age must not be greater than 80 years old";
                valid = false;
            }
            return valid;
        }
        function validateTerm(){
            const TermVal = document.getElementById("Term").checked;
            if (!TermVal){
                document.getElementById("TermErr").innerHTMl = "You must agree to the Terms of Service.";  
            }
        }

        function validatePhone() {
            const phoneVal = document.getElementById("phone").value;
            if (!isValidNumber(phoneVal)) {
                document.getElementById("phoneErr").innerHTML = "Please enter valid phone number which is max 13 and min 10 digits include 0 at start";
            }
        }
        
        function validateUsername(username) {
            // Regular expression to match any whitespace character
            var regex = /\s/;

            // Test if the username contains any whitespace
            if (regex.test(username)) {
                return false; // Username contains whitespace
            }

            return true; // Username is valid
        }
        //Valid number will match phone numbers that start with 0, have between 9 and 12 digits, and do not contain any digit that repeats more than 8 times in a row.
        function isValidNumber(number) {
            const pattern = /^0(?!.*(\d)\1{8})\d{9,12}$/;
            return pattern.test(number);
        }
    </script>
}