@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<style>
    .margin-custom {
        margin-top: 20px;
        margin-bottom: 40px;
    }
</style>


@{
    if (Model.DisplayConfirmAccountLink)
    {
        <p class="text-center" style="margin-top: 20px;">
            <i class="fas fa-envelope text-primary"></i> Please check your email to confirm your account.
        </p>
    }
    else
    {
        <p class="text-center">
            <i class="fas fa-exclamation-triangle text-warning"></i> This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary"><i class="fas fa-check-circle"></i> Click here to confirm your account</a>
        </p>
    }
}


