@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<style>
    .custom-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    button[type="submit"].btn {
        cursor: pointer; /* Set cursor to pointer */
    }
    .btn-custom {
        border-radius: 8px;
    }
    .center {
        text-align: center;
    }
    .margin-bottom {
        margin-bottom: 12px;
    }
</style>

<div class="container">
    <div class="row justify-content-center custom-padding">
        <div class="col-md-6">
            <img src="/images/test2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="text-center"><i class="fas fa-lock"></i> Reset your password</h2>
            <hr>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="inputEmail" autocomplete="username" aria-required="true">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" id="inputPassword" autocomplete="new-password" aria-required="true">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="inputConfirmPassword" autocomplete="new-password" aria-required="true">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-success btn-custom"><i class="fas fa-check-circle"></i> Reset</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
