@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<style>
    .custom-container {
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
    }
</style>
<div class="custom-container">
    <p class="text-center">
        <i class="fas fa-check-circle"></i> Your password has been reset. Please click the button below to log in.
    </p>
    <a asp-page="./Login" class="btn btn-primary">
        <i class="fas fa-sign-in-alt"></i> Click here
    </a>
</div>
