@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<style>
    .custom-container {
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
    }
</style>
<div class="custom-container">
    <h1 style="text-align: center">@ViewData["Title"]</h1>
    <p style="text-align: center">
        Your password has been reset. Please click button below to log in.
    </p>
    <a asp-page="./Login" class="btn btn-primary" style="color:aliceblue !important;">Click here</a>
</div>
