@model TechWizMain.Models.Discount

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}


<div class="container">
    <div class="card bg-light border-0 shadow-lg">
        <div class="card-body p-5 text-center">
            <h4 class="fw-bold mb-4">Create Discounts</h4>
            <form asp-action="Create" method="post" id="contact-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="fw-bold fs-16 form-label" asp-for="Percent">Percent</label>
                    <input asp-for="Percent" class="form-control" />
                    <span asp-validation-for="Percent" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="fw-bold fs-16 form-label" asp-for="DateBegin">DateBegin</label>
                    <input type="date" asp-for="DateBegin" class="form-control" />
                    <span asp-validation-for="DateBegin" class="text-danger" id="errdb"></span>
                </div>

                <div class="mb-3">
                    <label class="fw-bold fs-16 form-label" asp-for="DateEnd">DateEnd</label>
                    <input type="date" asp-for="DateEnd" class="form-control" />
                    <span asp-validation-for="DateEnd" class="text-danger" id="errde"></span>
                </div>

                <div class="form-actions mt-4">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Create</button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dateBeginInput = document.getElementById('DateBegin');
            var dateEndInput = document.getElementById('DateEnd');
            var form = document.querySelector('form');
            var errorDb = document.getElementById('errdb');
            var errorDe = document.getElementById('errde');

            dateBeginInput.addEventListener('change', validateDates);
            dateEndInput.addEventListener('change', validateDates);

            form.addEventListener('submit', function (event) {
                if (!validateDates()) {
                    event.preventDefault();
                }
            });

            function validateDates() {
                var dateBegin = new Date(dateBeginInput.value);
                var dateEnd = new Date(dateEndInput.value);
                var currentDate = new Date();

                // Kiểm tra DateBegin phải nhỏ hơn DateEnd
                if (dateBegin >= dateEnd) {
                    errorDe.textContent = 'The end date must be greater than the start date.';
                } else {
                    errorDe.textContent = '';
                }

                // Kiểm tra DateBegin phải lớn hơn ngày hiện tại 1 ngày
                var tomorrow = new Date(currentDate);
                tomorrow.setDate(currentDate.getDate() + 1);
                if (dateBegin < tomorrow) {
                    errorDb.textContent = 'The start date must be at least 1 day older than the current date.';
                } else {
                    errorDb.textContent = '';
                }

                return dateBegin < dateEnd && dateBegin >= tomorrow;
            }
        });
    </script>

    <script>
        // Use jQuery to handle the form submission via AJAX
        $(document).ready(function () {
            $('#contact-form').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            // Display SweetAlert2 success message with confirmation
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Discount Create successfully!',
                                showConfirmButton: true,
                                confirmButtonText: 'OK',
                                allowOutsideClick: false // Prevent closing on backdrop click
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Redirect to home page
                                    window.location.href = '/Admins/Discounts';
                                }
                            });
                        } else {
                            // Display SweetAlert2 error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Discount Create failed. Please try again later.'
                            });
                        }
                    }
                });
            });
        });
    </script>


}
