@model TechWizMain.Models.Discount

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="container">
    <div class="card bg-transparent border-0 shadow-lg">
        <div class="card-body p-5 text-center">
            <h2 class="fw-bold mb-5 text-primary">Discounts Details</h2>

            <dl class="row">
                <dt class="col-sm-3 fs-6 text-muted">
                    Discounts Name
                </dt>
                <dd class="col-sm-9 fs-5">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3 fs-6 text-muted">
                    Percent
                </dt>
                <dd class="col-sm-9 fs-5">
                    @Html.DisplayFor(model => model.Percent)
                </dd>
                <dt class="col-sm-3 fs-6 text-muted">
                    DateBegin
                </dt>
                <dd class="col-sm-9 fs-5">
                    @Html.DisplayFor(model => model.DateBegin)
                </dd>
                <dt class="col-sm-3 fs-6 text-muted">
                    DateEnd
                </dt>
                <dd class="col-sm-9 fs-5">
                    @Html.DisplayFor(model => model.DateEnd)
                </dd>
            </dl>

            <div class="d-flex justify-content-center mt-4">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back To List</a>
            </div>

        </div>
    </div>
</div>




