@model TechWizMain.Models.Discount

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="container">
    <div class="card bg-transparent border-0 shadow-lg">
        <div class="card-body p-5 text-center">
            <h2 class="fw-bold mb-5 text-primary">Discount Edit</h2>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label for="Name" class="form-label">Discount Name</label>
                    <input type="text" id="Name" name="Name" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Percent" class="form-label">Percent</label>
                    <input type="number" id="Percent" name="Percent" class="form-control" asp-for="Percent" />
                    <span asp-validation-for="Percent" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="DateBegin" class="form-label">DateBegin</label>
                    <input type="date" id="DateBegin" name="DateBegin" class="form-control" asp-for="DateBegin" />
                    <span asp-validation-for="DateBegin" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="DateEnd" class="form-label">DateEnd</label>
                    <input type="date" id="DateEnd" name="DateEnd" class="form-control" asp-for="DateEnd" />
                    <span asp-validation-for="DateEnd" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
            </form>

            <div>
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back To List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
